# Android
KEYSTORE_PATH=
KEYSTORE_STORE_PASSWORD=
KEYSTORE_KEY_ALIAS=
KEYSTORE_KEY_PASSWORD=
ANDROID_PACKAGE_NAME=com.boilerplateapp
GOOGLE_PLAY_JSON_KEY=
FIREBASE_APP_ID_ANDROID=

# iOS  
APPLE_ID=
APPLE_TEAM_ID=
APP_BUNDLE_ID=com.boilerplateapp
FIREBASE_APP_ID_IOS=
MATCH_GIT_URL=
MATCH_PASSWORD=

# Shared
FIREBASE_TESTERS=
RELEASE_NOTES=
